  <div *ngIf="isLoading" class="spinner">
  <div class="loading-spinner"></div>
</div>

<div *ngIf="!isLoading && images.length" class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col" *ngFor="let image of images">
    <div class="card h-100" (click)="goToDetail(image)">
      <img [src]="image.url" class="card-img-top" alt="{{ image.title }}">
      <div class="card-body">
        <h5 class="card-title">{{ image.title }}</h5>
        <p class="card-text">{{ image.date }}</p>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!isLoading && !images.length" class="text-center">
  <p>No images available.</p>
</div>
